<p id="notice"><%= notice %></p>

<%= render 'follow_form' %>

<p>
  <strong>UserName:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>UserEmail:</strong>
  <%= @user.email %>
</p>

<%= @user.following.count %>
<%= link_to 'folloing', following_user_path(@user) %>

<!-- for ajax -->
<div id="followers">
  <%= @user.followers.count %>
</div>
<%= link_to 'follwers', followers_user_path(@user) %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

