<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'canvas-park-logo', class: 'header-logo' %>
        <% end %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'トップ', root_path %></li>
          <li><%= link_to 'ギャラリー', works_path %></li>
          <li><%= link_to '作品投稿', new_work_path %></li>
          <li><a href="#">お知らせ</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
          <% end %>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "このサイトについて", statics_about_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
