<!DOCTYPE html>
<html>
  <head>
    <title>CanvasPark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <p id="notice"><%= notice %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
